/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT */
:root {
    --title-font-family: "Poppins", sans-serif;
    --default-font-family: "Poppins", sans-serif;
    --default-font-size: 18px;
    --default-text-color: #000;
    --primary-background-color: #C5DDF0;
    --secondary-background-color: #A3CEF1;
}

/* LAYOUT */
body {
    background: var(--primary-background-color);
    color: var(--default-text-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    margin: 0px;
    padding: 0px;;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}