header {
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.nav-bar {
    margin: 0;
    padding: 1.5em;
    background-color: var(--primary-background-color);
}

.shadow {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
}

ul.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 3em;
    justify-content: center;
    padding: 1em 0;
    flex-direction: row;
}

ul.nav-bar > li {
    font-weight: 700;
    cursor: pointer;
    background-color: none;
    padding: .5em;
    border-radius: 30px;
}

ul.nav-bar > li:hover {
    background-color: #E7ECEF;
}