.content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1.2em;
    margin: 3em 0;
}

.hero-greeting {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.hero-greeting h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.hero-greeting h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.content img {
    max-width: 15em;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
    height: auto;
}

.dog-pics {
    display: flex;
    max-width: 650px;
    gap: 1em;
}

.dog-pics img {
    min-width: 0;
}

/* @media screen and (max-width: 1230px) {
    .dog-pics {
        gap: 0;
    }
    .dog-pics img.maggie {
        transform: translate(0, -40%);
    }
    .dog-pics img.willow {
        transform: translate(0, 40%);
        margin-left: -20%;
    }
} */

@media screen and (max-width: 1000px) {
    .dog-pics {
        flex-direction: column;
        /* max-width:fit-content; */
        gap: 1em;
    }
}

@media screen and (max-width: 670px) {
    .dog-pics {
        flex-direction: row;
        gap: 1em;
        max-width: 100%;
    }

    .dog-pics img#maggie,
    .dog-pics img#willow {
        width: 50%;
    }

    .content>img {
        width: 50%
    }

    .content {
        flex-direction: column;
        gap: 1em;
    }

    .hero-greeting {
        justify-content: center;
    }

    .hero-greeting h1,
    .hero-greeting h2 {
        text-align: center;
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1em;
    max-width: 650px;
}

.about-me p {
    font-size: 18px;
    font-weight: 400;
}

span.bold {
    font-weight: 600;
}

span.light {
    font-weight: 200;
}